<div class="container mt-3">
    <h2>Häufig gestellte Fragen:</h2>
</div>



<div class="accordion" id="accordionPanelsStayOpenExample">
    
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        Was sind die Judo Werte?
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body">
        <div>
          <strong>Hilfsbereitschaft</strong>
          Sei anderen gegenüber stets hilfsbereit: 
          Unterstütze als (Trainings-)Älterer die Jüngeren. 
          Hilf deinem Partner, die Techniken korrekt zu erlernen und Neuen, 
          sich in der Gruppe zurechtzufinden.
        </div>
        <div>
          <strong>Bescheidenheit</strong>
        Spiele dich nicht selbst in den Vordergrund. 
        Sprich über deinen Erfolg nicht mit Übertreibung. 
        Orientiere dich an den Besseren und nicht an denen, 
        deren Leistungsstand du bereits erreicht hast.
        </div>
        <div>
          <strong>Höflichkeit</strong>
        Behandle deine Trainingspartner, 
        Wettkampfgegner und Mitmenschen wie Freunde. 
        Zeige deinen Respekt gegenüber jedem Judo-Übenden durch eine ordentliche Verneigung.
        </div>
        <div>
          <strong>Ernsthaftigkeit</strong>
        Sei immer konzentriert bei der Sache. 
        Entwickle eine positive Trainingseinstellung und übe fleißig.
        </div>
        <div>
          <strong>Ehrlichkeit</strong>
        Sei immer ehrlich und kämpfe fair, 
        ohne unsportliche Handlungen und Hintergedanken.
        </div>
        <div>
          <strong>Mut</strong>
        Nimm dein Herz in die Hand - im Randori, 
        im Wettkampf und im Leben selbst. 
        Gib dich niemals auf, auch nicht bei einer drohenden Niederlage 
        oder einem scheinbar übermächtigen Gegner.
        </div>
        <div>
          <strong>Wertschätzung</strong>
        Erkenne die Leistung jedes Anderen an, wenn
        dieser sich nach seinen Möglichkeiten ernsthaft
        anstrengt.
        </div>
        <div>
          <strong>Respekt</strong>
        Begegne jedem mit Respekt. Behandle deine Lehrer und
        Judofreunde immer zuvorkommend und erkenne die
        Leistungen anderer an.
        </div>
        <div>
          <strong>Selbstbeherrschung</strong>
        Achte stets auf Pünktlichkeit und Disziplin - beim Training, 
        Wettkampf und im Leben. Verliere auf der Matte nie die Beherrschung, 
        auch nicht in Situationen, die dir unfair erscheinen.
        </div>
        <div>
          <strong>Freundschaft</strong>
        Achte all diese Werte und alle Menschen, 
        dann wirst du nicht nur beim Judo Freunde finden.
        </div>
      </div>
    </div>
  </div>
  
  <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true" aria-controls="panelsStayOpen-collapseTwo">
          Ab welchem Alter dürfen Kinder am Judo Training teilnehmen?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
        <div class="accordion-body">
          <strong>Wir empfehlen den Trainingsbeginn ab dem 6. Lebensjahr.</strong> <br>
          Hier gibt es keine allgemein gültige Antwort, der Spaß soll immer im Vordergrund stehen und wir heißen Kinder aller Altersklassen willkommen.
          Wir geben allerdings zu bedenken, dass körperliche und soziale Entwicklung der Kinder variieren kann. <br>
          <br>
          In Jungen Jahren also vor wäre es allgemein optimal wenn die Kinder bereits eine(n) Freund*in, Geschwister oder Trainingspartner mitbringen, 
          da der Einstieg dann weit leichter fällt. <br>
          <br>
          Unsere Mitglieder sind stets angehalten die Judopwerte hoch zu halten darunter Fallen auch Freundschaft, Hilfsbereitschaft, Höflichkeit, Wertschätzung und Respekt.
          Daher werden Neuankömmlinge ab dem ersten Tag integriert und unterstützt.
        </div>
      </div>
    </div>
   
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
          Ab welchem Alter oder ab welchem Erfahrungsgrad kann ich an Wettkämpfen teilnehmen?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
        <div class="accordion-body">
          <strong>Wir möchten niemanden die Teilnahme an Wettkämpfen verweigern,
            aber wir sehen es als unsere Verantwortung als Trainer,
            die Fähigkeiten unserer Mitglieder an die Anforderungen der Wettbewerbe anzupassen bzw. einzuschätzen.</strong> <br>
            <br>
            Das bedeutet, dass jeder ab dem ersten Tag gerne an Wettkämpfen teilnehmen kann und wir auch die Organisation und den Trasport sowie Verpflegung der Teilnehmer sicherstellen werden.<br>
            <br>
            Bei internen und Freundschfaftsturnieren mit unseren befreundeten Vereinen werden wir immer darauf achten Gegener auf gleichem Niveau gegeneinandern antreten zu lassen. <br>
            <br>
            Bei externen Meisterschaften mit allgemeiner Beteiligung werden Altersgruppen und Gewichtsklassen definiert denen die Teilnehmer zugeordnet werden.
        </div>
      </div>
    </div>
    
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
          Muss ich kämpfen?
        </button>
      </h2>
      <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
        <div class="accordion-body">
          <strong>Muss ich an Wettkämpfen teilnehmen?</strong> <br>
          <br>
          Nein, es gibt generell kein MUSS, wir möchten allerdings den Kampfgeist wecken und einen gesunden anspornenenden sportlichen Wettbewerbsgedanken fördern. <br>
          <br>
          Dazu gehört aus Niederlagen zu lernen, Erfolge feiern zu können und aus beiden als Sportler zu wachsen.<br>
          <br>
          Um sich weiter zu entwickeln ist es wichtig sich mit einer Vielzahl unterschiedlicher Partner/Kontrahenden zu messen und ein Verständnis für das Können, Strategie und Tacktick des Gegenübers zu entwickeln.<br>
          Oft muss in Sekundenschnelle die eigene Tacktick umgeworfen werden und an die neue Herausforderung angepasst werden.<br>
          <br>
          Die Fähigkeiten zu diesen blitzschnellen Adaptionen muss man auch erlernen und die beste Möglichkeit dazu bietet der Wettstreit mit gleichgesinnten Judoka. 
        </div>
      </div>
    </div>
  </div>