<div class="container mt-3">
    <h2>Vereinsgeschichte:</h2>
</div>

<p>
    Mit einer Judovorführung wurde am 29.09.1989 die Trainingsstelle des ASAHI Union Budokan Austria in der Sieghartskirchen Hauptschule eröffnet. 
    Wegen Umbaues übersiedelten wir später in die Volkschule, wo bis 2020 das Judotraining stattfand.
    Im Herbst 2007 wurde mit der Gründung des Union Judoclubs SAKURA YANAGI Sieghartskirchen die Trainingsstelle Sieghartskirchen auf eigene Beine gestellt.
    In der Zeit der Isolation durch Corona fanden wir einen Partner im Fitnesscenter Gerersdorf und konnten trotz der strengen Auflagen und Maßnahmen das Judo Training fortsetzen.
    Seither hat sich einiges getan. Angefangen von der erfolgreichen Teilnahme unserer Kämpfer an verschiedenen Wettkämpfen, freundschaftlichen Vereinskämpfen, Vorführungen, sowie dem jährliche Sommerjudolager am Hochkar, bis zum Erreichen des höchsten Kyu-Grades (Braungurt) und sogar des 1.DAN (Meistergrad, Schwarzgurt).
    Am 08.08.2023 verlor unser Sensai, Präsident und Gründer des Vereins seinen letzten Kampf und hinterlies einen Verein der in den letzten 16 Jahren allein mehr als 150 Mitglieder auf Gelb, knapp 10 Braungurte und 4 Schwarzgurte ausgebildet hat.
    Der Verein blickt unter der Leitung von Robert Matyus auf eine beachtliche Erfolgsgeschichte zurück. 
    Wir sind stolz auf unsere Mitglieder die eine Vielzahl an Auszeichnungen wie Verdienstorden, Medailien und Pokale in diversen Schüler-, Junioren-, Landes-Meisterschaften bis zu Staatsmeisterschaftstitel erkämpfen konnten.
</p>