<div class="container mt-3">
    <h2>Vereinsgeschichte:</h2>
</div>

<p>
    Mit einer Judovorführung wird am 29.09.1989 die Trainingsstelle des ASAHI Union Budokan Austria in der Sieghartskirchen Hauptschule eröffnet. Wegen Umbaues übersiedelten wir später in die Volkschule, wo bis 2020 das Judotraining stattfand. In der Zeit der Isolation durch Corona fanden wir einen Partner im Fitnesscenter Gerersdorf und konnten trotz der strengen Auflagen und Maßnahmen das Judo Training fortsetzen.
Seither hat sich einiges getan. Angefangen von der erfolgreichen Teilnahme unser Kämpfer an verschiedenen Wettkämpfen, freundschaftlichen Vereinskämpfen, Vorführungen, sowie das jährliche Sommerjudolager am Hochkar, bis zum Erreichen des höchsten Kyu-Grades (Braungurt) und sogar des 1.DAN (Meistergrad, Schwarzgurt).
Im Herbst 2007 wurde nun die Trainingsstelle Sieghartskirchen auf eigene Beine gestellt mit der Gründung des Union Judoclubs SAKURA YANAGI Sieghartskirchen!

</p>