<div class="container mt-3">
    <div>
        <h1>Impressum:</h1>
    </div>
    <hr>
    <div class="container-fluid">
    
    <div>
        <h2>Anschrift:</h2>
        <div>Union Judo Club Sakura Yanagi</div>
        <div>Wolfgang Matyus</div>
        <div>Calvigasse 4</div>
        <div>A-1230 Wien</div>            
    </div>
    <hr>
    <div>
        <h2>Kontakt:</h2>
    </div>
    
    <div>
        <div class="row">
            <div class="col"><h5>E-Mail:</h5></div><div class="col">office@sakura-yanagi-judo.at</div>
        </div>
        <div class="row">
            <div class="col"><h5>Website:</h5></div><div class="col">www.sakura-yanagi-judo.at</div> 
        </div>
    </div>
    <hr>
    <div>
        <h2>Vereinsdaten:</h2>
    </div>
    
    <div>
        <div class="row">
            <div class="col"><h5>Vereinsname:</h5></div> <div class="col">Union Judo Club Sakura Yanagi</div>
        </div>
        <div class="row">
            <div class="col"><h5>ZVR-Zahl (Zentrales Vereinsregister):</h5></div> <div class="col">294992245</div>
        </div>
        <div class="row">
            <div class="col"><h5>Rechtsform:</h5></div> <div class="col">Verein</div>
        </div>
    </div>
    <hr>
    <div>
        <h2>Vereinsbehörde:</h2> Landespolizeidirektion Wien, Büro für Vereins-, Versammlungs- und Medienrechtsangelegenheiten
    </div>
    <hr>
    <div>
        <div clasS="row"> 
            <div class="col"><h2>UID-Nummer: </h2></div>
                <div class="footnote">(Umsatzsteuer-Identifikationsnummer) nach § 27a UStG</div>
            <div class="col">ATU98765432</div>
        </div>    
    </div>
    <div class="footnote">
        (Anmerkung: Die UID-Nummer wird vom Finanzamt vergeben und dient der eindeutigen Identifikation bei Umsatzsteuerangelegenheiten.)
    </div>
    <hr>
    <div>
            <div><h2>Vereinszweck:</h2></div> 
            <div>Förderung des Judosports und der Jugendarbeit</div>
    </div>
    <hr>
    <div>
        <h2>Vereinsleitung:</h2>
    </div>
    
    <div>
        <div clasS="row">
            <div class="col"><h5>Präsident:</h5></div> <div class="col">Wolfgang Matyus</div>
        </div>
        <div clasS="row">
            <div class="col"><h5>Vizepräsident:</h5></div> <div class="col">Robert Waizmann</div>
        </div>
        <div clasS="row">
            <div class="col"><h5>Kassier:</h5></div> <div class="col">Stefan Matyus</div>
        </div>
        <div clasS="row">
            <div class="col"><h5>Schriftführer:</h5></div> <div class="col">Wolfgang Reitschmitd</div>
        </div>
    </div>
    <hr>
    <div>
        <h2>Haftungsausschluss:</h2>
    </div>
    <div>
        Die auf dieser Website veröffentlichten Informationen dienen der allgemeinen Information über den Verein und seine Aktivitäten. <br>
        Wir übernehmen keine Gewähr für die Vollständigkeit, Richtigkeit und Aktualität der Inhalte. <br>
        Jegliche Haftung für Schäden, die direkt oder indirekt aus der Nutzung dieser Website entstehen, wird ausgeschlossen. <br>
    </div>
    <hr>
    <div>
        <h2>Urheberrecht:</h2>
    </div>
    
    <div>
        Die auf dieser Website veröffentlichten Inhalte und Werke sind urheberrechtlich geschützt. <br>
        Jede Art der Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen <br>
        des Urheberrechts bedarf der vorherigen schriftlichen Zustimmung des Vereinsvorstands. <br>
    </div>
    <hr>
    <div>
        <h2>Technische Umsetzung:</h2>
    </div>
    <div>
        <div class="hd">Wolfgang Matyus</div>
        <div>Calvigasse 4</div>
        <div>A-1230 Wien</div>
    </div>
   
    </div>
</div>
