<div>
    <h1>Impressum:</h1>
</div>

<div class="container-fluid">

<div>
    <h2>Anschrift:</h2>
    <div>Union Judo Club Sakura Yanagi</div>
    <div>Wolfgang Matyus</div>
    <div>Calvigasse 4</div>
    <div>A-1230 Wien</div>            
</div>

<div>
    <h2>Kontakt:</h2>
</div>

<div>    
    <div><h3>E-Mail:</h3> office@sakura-yanagi-judo.at</div>
    <div><h3>Website:</h3> www.sakura-yanagi-judo.at</div>
</div>

<div>
    <h2>Vereinsdaten:</h2>
</div>

<div>
    <div><h3>Vereinsname:</h3> Union Judo Club Sakura Yanagi</div>
    <div><h3>ZVR-Zahl (Zentrales Vereinsregister):</h3> 123456789</div>
    <div><h3>Rechtsform:</h3> Verein</div>
</div>
<div>
    <h2>Vereinsbehörde:</h2> Landespolizeidirektion Wien, Büro für Vereins-, Versammlungs- und Medienrechtsangelegenheiten
</div>

<div>
    <h2>UID-Nummer (Umsatzsteuer-Identifikationsnummer) nach § 27a UStG:</h2> ATU98765432
</div>
<div>
    (Anmerkung: Die UID-Nummer wird vom Finanzamt vergeben und dient der eindeutigen Identifikation bei Umsatzsteuerangelegenheiten.)
</div>

<div>
    <h2>Vereinszweck:</h2> Förderung des Judosports und der Jugendarbeit
</div>

<div>
    <h2>Vereinsleitung:</h2>
</div>

<div>
    <div><h3>Präsident:</h3> Wolfgang Matyus</div>
    <div><h3>Vizepräsident:</h3> Robert Waizmann</div>
    <div><h3>Schriftführer:</h3> Wolfgang Reitschmitd</div>
    <div><h3>Kassier:</h3> Stefan Matyus</div>
</div>

<div>
    <h2>Haftungsausschluss:</h2>
</div>
<div>
    Die auf dieser Website veröffentlichten Informationen dienen der allgemeinen Information über den Verein und seine Aktivitäten. <br>
    Wir übernehmen keine Gewähr für die Vollständigkeit, Richtigkeit und Aktualität der Inhalte. <br>
    Jegliche Haftung für Schäden, die direkt oder indirekt aus der Nutzung dieser Website entstehen, wird ausgeschlossen. <br>
</div>

<div>
    <h2>Urheberrecht:</h2>
</div>

<div>
    Die auf dieser Website veröffentlichten Inhalte und Werke sind urheberrechtlich geschützt. <br>
    Jede Art der Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen <br>
    des Urheberrechts bedarf der vorherigen schriftlichen Zustimmung des Vereinsvorstands. <br>
</div>

<div>
    <h2>Technische Umsetzung:</h2>
</div>
<div>
    <div>Wolfgang Matyus</div>
    <div>Calvigasse 4</div>
    <div>A-1230 Wien</div>
</div>

<div>
    Bitte beachte, dass dies ein Muster-Impressum ist und dass du es entsprechend den individuellen Anforderungen deines Vereins anpassen solltest. <br>
    Es ist empfehlenswert, rechtlichen Rat in Anspruch zu nehmen, um sicherzustellen, dass alle gesetzlichen Anforderungen erfüllt sind. <br>
</div>

</div>