<div class="container mt-3">
    <h1>Links:</h1>
</div>

<hr>

<section class="article-content clearfix" itemprop="articleBody">
    <ul>
    <li><a href="http://www.oejv.com" target="_blank">Österreichischer Judoverband</li>
    <li><a href="http://www.judo-noe.at" target="_blank">Niederösterr. Judo Landesverband </li>
    <li><a href="http://www.kodokan.org" target="_blank">Kodokan</li>
    <li><a href="http://www.sportunion.at" target="_blank">Sportunion</li>
    <li><a href="http://noe.sportunion.at" target="_blank">Sportunion Niederösterreich</li>
    <li><a href="https://www.sieghartskirchen.gv.at/" target="_blank">MarktGemeinde Sieghartskirchen</li>
    </ul>
</section>