
<div>
  <h1>Anmelden:</h1>
</div>
<hr>
<div>
  <form>
    <div class="mb-3">
      <label for="Username" class="form-label">Username:</label>
      <input type="text" class="form-control" id="Username" aria-describedby="emailHelp">
    <div class="mb-3">
      <label for="Password" class="form-label">Passwort:</label>
      <input type="password" class="form-control" id="Password">
    </div>
<div class="row">
  
  <div class="col form-check">
    <label for="exampleCheck1" class="form-check-label" >Anmeldedaten merken?</label>
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    
  </div>
  <div class="col text-end">
    <a onclick="sendResetPasswordEmail('login')">Passwort vergessen?</a>
  </div>

</div>
    
    
    <button type="submit" onclick="login()" class="btn btn-dark">Anmelden</button>
  </form>
</div>
