<div class="container mt-3">
    <div>
        <h1>Mitgliedsbeitrag:</h1>
    </div>
    <hr>

    <div class="row">
        <div class="col">Unser Jahresmitgliedsbeitrag: </div>
        <div class="col">150€</div>
    </div>

<div class="row">
    <div class="col">für jedes weitere Familienmitglied: </div>
    <div class="col">130€</div>
</div>

<div>
    Darin enthalten sind alle Abgaben an den NÖ Judolandesverband sowie
</div>

<div>
    <a href="https://www.judojama.org/">Judo JAMA / OEJV Mitgliederbereich</a>
</div>
<br>
<div>
    <h2>Judogi (Trainingsgewand)</h2>
</div>

<div>
    <p>
        Das Traditionelle und funktional optimale Trainingsgewand nennt sich Judogi. <br>
        Es setzt sich aus Kimono(Jacke), Obi (Gürtel) und Zubon (Hose) zusammen und ist aus speziell verstärktem reißfestem Baumwollmaterial.
        Das Judogi kann vor oder nach dem Training gern bei uns bestellt werden und wird organisiert.
    </p>
    
    <p>
        Wir bieten auch getragene Judogis(natürlich gewaschen und gereinigt) an. <br>
        Vor allem in den Kinderkleidergrößen kommt es häufig vor, das nach wenigen Monaten bis Jahren die Kinder aus den Judogis wachsen. Einfach bei unseren 
        Trainern nachfragen und die Größe bekannt geben, sofern die Größe verfügbar ist bieten wir es gerne an.
    </p>

    <p>
        Sollte man aus seinem Judogi rauswachsen gerne bei uns abgeben, jemand anderes hat sicher eine Freude damit.
    </p>
    
</div>


<div>
    <h2>KYU-Prüfungsprogramm</h2>
</div>

Falls ihr ein KYU-Prüfungspramm mit Abbildungen aller Würfe, die für die Kyu-Prüfung wichtig sind, 
benötigt, könnt ihr auch das gerne bei eurem Trainer erwerben.

Weitere Infos bekommt ihr bei eurem Trainerteam. 
</div>