<!-- The Modal -->

    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Bitte bringen Sie zum Training:</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <ul class="list-group">
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
              <label class="form-check-label stretched-link" for="firstCheckboxStretched">
                Judogi <br> (Kimono[Jacke], Obi[Gürtel], Zubon[Hose])
              </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckboxStretched">
              <label class="form-check-label stretched-link" for="secondCheckboxStretched">
                Sportbekleidung <br> (Jogginganzug oder lange Hose,<br> 
                langärmliges reissfestes T-shirt od. Pullover)
            </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckboxStretched">
              <label class="form-check-label stretched-link" for="thirdCheckboxStretched">
                Wechselbekleidung (vor allem im Winter)
            </label>
            </li>
            <li class="list-group-item">
              <input class="form-check-input me-1" type="checkbox" value="" id="fourthCheckboxStretched">
              <label class="form-check-label stretched-link" for="fourthCheckboxStretched">
                Optional (Trinkflasche, Handtuch, Sandalen[Hausschuhe])
            </label>
            </li>
          </ul>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>