<div class="container mt-3">
  <div class="row">
    <div class="col-3">
      <h1>Neues:</h1>
    </div>
    <div class="col-3">
      <img src="/assets/img/flipdisplay.png" id="flip_img" class="rounded" alt="JUDO Plakat 2023" class="responsive" style="width: 20px; height: 20px;">
    </div>
    <div class="col-3">
      <a type="button" class="btn btn-dark" onclick="loadContent('mitgliedsbeitrag')">Zur Mitgliederanmeldung</a>
    </div>
  </div>
    
</div>

<hr>

<div class="card">
    <div class="card-header"><h4>Erstes Schnuppertraining 2023:</h4></div>
    <div class="card-body">
      <div class="card_table">
        <div class="row card_hd">
          <div class="col-3">Datum</div>
          <div class="col-2">Zeit</div>
          <div class="col-4">Veranstaltung</div>
          <div class="col-3">Ort</div>
        </div>
        <div class="row odd">
          <div class="col-3">01. Dez. 2023</div>
          <div class="col-2">17:00</div>
          <div class="col-4">Schnuppertraining</div>
          <div class="col-3">Trainingsort</div>
        </div>
      </div>
    </div>

    <div class="card-footer">

    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#myModal">
        Details
    </button>

      <!-- The Modal -->
      <div class="modal" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">Bitte bringen Sie zum Training:</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
      
            <!-- Modal body -->
            <ul class="list-group">
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
                  <label class="form-check-label stretched-link" for="firstCheckboxStretched">
                    Judogi <br> (Kimono[Jacke], Obi[Gürtel], Zubon[Hose])
                  </label>
                </li>
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckboxStretched">
                  <label class="form-check-label stretched-link" for="secondCheckboxStretched">
                    Sportbekleidung <br> (Jogginganzug oder lange Hose,<br> 
                    langärmliges reissfestes T-shirt od. Pullover)
                </label>
                </li>
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckboxStretched">
                  <label class="form-check-label stretched-link" for="thirdCheckboxStretched">
                    Wechselbekleidung (vor allem im Winter)
                </label>
                </li>
                <li class="list-group-item">
                  <input class="form-check-input me-1" type="checkbox" value="" id="fourthCheckboxStretched">
                  <label class="form-check-label stretched-link" for="fourthCheckboxStretched">
                    Optional (Trinkflasche, Handtuch, Sandalen[Hausschuhe])
                </label>
                </li>
              </ul>
      
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
      
          </div>
        </div>
      </div>

    </div>

  </div>

<hr>

<div class="card">
  <div class="card-header"><h4>Plakatwerbung</h4></div>
  <div class="card-body img-fluid justify-content-center" id="card-plakat">
    <img src="/assets/img/123.png" class="rounded" alt="JUDO Plakat 2023" class="responsive" style="width: 350px; height: 500px;"> 
  </div>

  <div class="card-footer">

      <a type="button" class="btn btn-dark" href="/assets/pdf/JUDO_Plakat 2023.pdf">Download</a>

  </div>

</div>