<div>
  <h1>Registrieren:</h1>
</div>
<hr>
<div>
<form>

  <div class="row">
    <div class="col">
      <label for="Vorname" class="form-label">Vorname:</label>
      <input type="text" class="form-control" id="Vorname">
    </div>
    <div class="col">
      <label for="Familienname" class="form-label">Familienname:</label>
      <input type="text" class="form-control" id="Familienname">
    </div>
  </div>

  <div class="mb-3">
    <label for="Strasse" class="form-label">Strasse:</label>
    <input type="text" class="form-control" id="Strasse">
  </div>

  <div class="row">
    <div class="col-4">
      <label for="Postleitzahl" class="form-label">Postleitzahl:</label>
      <input type="text" class="form-control" id="Postleitzahl">
    </div>
    <div class="col-8">
      <label for="Wohnort" class="form-label">Wohnort:</label>
      <input type="text" class="form-control" id="Wohnort">
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <label for="GeborenAm" class="form-label">Geboren am:</label>
      <input type="date" class="form-control" id="GeborenAm">
    </div>
    <div class="col-8">
      <label for="Telefon" class="form-label">Telefon:</label>
      <input type="tel" class="form-control" id="Telefon">
    </div>
  </div>

  <div class="mb-3">
    <label for="Nationalität" class="form-label">Nationalität:</label>
    <input type="text" class="form-control" id="Nationalität">
  </div>

  <div class="mb-3">
    <label for="gesundheitlicheProbleme" class="form-label">Gesundheitliche Probleme:</label>
    <input type="text" class="form-control" id="gesundheitlicheProbleme">
  </div>
  
  <div id="emailHelp" class="form-text">Deine e-mail wird ausschließlich innerhalb des Vereins verwendet!</div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email Adresse</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Deine e-mail wird ausschließlich innerhalb des Vereins verwendet!</div>
  </div>

  <div class="row">
    <div class="col">
      <label for="passwordInput1" class="form-label">Passwort</label>
      <input type="password" class="form-control" id="passwordInput1">
    </div>
    <div class="col">
      <label for="passwordInput2" class="form-label">Passwort wiederholen!</label>
      <input type="password" class="form-control" id="passwordInput2">
    </div>
  </div>



    <button type="submit" class="btn btn-primary">Registieren</button>
  </form>
</div>