<div>
  <h1>Registrieren:</h1>
</div>
<hr>
<div>
<form id="registrationForm" method="post" action="">
  <div id="emailHelp" class="form-text">
    <h3>Persönliche Daten:</h3>
  </div>
  <div class="mb-3">
    <div class="row">
      <div class="col">
        <label for="Vorname" class="form-label" >Vorname:</label>
        <input type="text" class="form-control" placeholder="" id="Vorname">
      </div>
      <div class="col">
        <label for="Familienname" class="form-label">Familienname:</label>
        <input type="text" class="form-control" placeholder="" id="Familienname">
      </div>
    </div>
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email Adresse</label>
    <input type="email" class="form-control" id="Email" placeholder="z.B: beispiel@email.at" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Deine e-mail wird ausschließlich innerhalb des Vereins verwendet!</div>
  </div>

  <div class="mb-3">
    <div class="row">
      <div class="col">
        <label for="passwordInput1" class="form-label">Passwort</label>
        <input type="password" class="form-control" id="passwordInput1">
      </div>
      <div class="col">
        <label for="passwordInput2" class="form-label">Passwort wiederholen!</label>
        <input type="password" class="form-control" id="passwordInput2">
      </div>
    </div>
  </div>
  


  <div>
    <button type="button" onclick="addNewUser()" class="btn btn-dark">Registrieren</button>
    <!-- <button type="submit" onclick="addNewUser()" class="btn btn-dark">Registieren</button> -->
  </div>
    
  </form>
</div>