<div class="container mt-3">
    <h1>Sponsoren:</h1>
</div>

<hr>

<div>
    <a href="https://www.sieghartskirchen.gv.at/">
        <img src="/assets/img/Logo_Marktgemeinde_Sieghartskirchen.webp" class="rounded" alt="Marktgemeinde Sieghartskirchen" class="responsive" style="width: 350px; height: 135px;">
    </a>
</div>
<div>
    <a href="http://www.oejv.com">
        <img src="/assets/img/logo_oejv.png"  class="rounded" alt="Österreichischer Judoverband" class="responsive" style="width: 350px; height: 200px;">
    </a>
</div>