<div class="container mt-3">
    <h2>Termine:</h2>          
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Zeit</th>
          <th>Veranstaltung</th>
          <th>Ort</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>10.November.2023</td>
            <td>17:00</td>
            <td>Schnuppertraining</td>
            <td>Gerersdorf (Trainingsort)</td>
        </tr>
        <tr>
            <td>Mary</td>
            <td>Moe</td>
            <td>mary@example.com</td>
        </tr>
        <tr>
            <td>July</td>
            <td>Dooley</td>
            <td>july@example.com</td>
        </tr>
      </tbody>
    </table>
  </div>