<div class="container mt-3">
    <h2>Termine:</h2>          
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Zeit</th>
          <th>Veranstaltung</th>
          <th>Ort</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>10.November.2023</td>
            <td>17:00</td>
            <td>Schnuppertraining</td>
            <td>Gerersdorf (Trainingsort)</td>
        </tr>
        <tr>
            <td>01.Dezember.2023</td>
            <td>19:00</td>
            <td>Mitgliederversammlung</td>
            <td>Gasthaus zur Post, Sieghartskirchen</td>
        </tr>
        <tr>
            <td>13.-14.Jänner 2024</td>
            <td>10:00-17:00</td>
            <td>Junior-Übungsleiterkurs</td>
            <td>Dopschstrasse 25, 1210 Wien</td>
        </tr>
      </tbody>
    </table>
  </div>