<div class="container mt-3">
    <h2>Unsere Trainer:</h2>
</div>

<div class="card text-bg-dark mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/img/Robertt_Waizmann.jpg" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Robert Waizmann</h5>
          <table class="table">
            <tbody>
                <tr>
                    <td>Gürtelgrad:</td>
                    <td>3. DAN</td>
                <tr>
                </tr>
                    <td>Jahrgang:</td>
                    <td>1985</td>
                <tr>
                </tr>
                    <td>Mitglied seit:</td>
                    <td>27.05.2008</td>
                </tr>
                <tr>
                    <td>Ausbildung:</td>
                    <td>Übungsleiter</td>
                </tr>
            </tbody>
        </table>
    </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-bg-dark mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Wolfgang Matyus</h5>
              <table class="table">
              <tbody>
                <tr>
                    <td>Gürtelgrad:</td>
                    <td>3. DAN</td>
                <tr>
                </tr>
                <td>Jahrgang:</td>
                <td>1987</td>
                <tr>
                </tr>
                    <td>Mitglied seit:</td>
                    <td>27.05.2008</td>
                </tr>
                <tr>
                    <td>Ausbildung:</td>
                    <td>Übungsleiter</td>
                </tr>
            </tbody>
        </table>
            </div>
        </div>
      <div class="col-md-4">
        <img src="/assets/img/Wolfgang_Matyus.jpg" class=" img-fluid rounded" alt="...">
      </div>
    </div>
  </div>

  <div class="card text-bg-dark mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/assets/img/Stefan_Matyus.PNG" class="img-fluid rounded" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Stefan Matyus</h5>
          <table class="table">
          <tbody>
            <tr>
                <td>Gürtelgrad:</td>
                <td>1. DAN</td>
            <tr>
            </tr>
            <td>Jahrgang:</td>
            <td>1984</td>
            <tr>
            </tr>
                <td>Mitglied seit:</td>
                <td>27.05.2008</td>
            </tr>
            <tr>
                <td>Ausbildung:</td>
                <td>Schwarzgurt</td>
            </tr>
        </tbody>
    </table>
        </div>
      </div>
    </div>
  </div>

  <div class="card wggg text-bg-brown mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Wolfgang Reitschmitd</h5>
              <table class="table">
              <tbody>
                <tr>
                    <td>Gürtelgrad:</td>
                    <td>1 Kyu</td>
                <tr>
                </tr>
                <td>Jahrgang:</td>
                <td>1977</td>
                <tr>
                </tr>
                    <td>Mitglied seit:</td>
                    <td>27.05.2008</td>
                </tr>
                <tr>
                    <td>Ausbildung:</td>
                    <td>Braungurt</td>
                </tr>
            </tbody>
        </table>
            </div>
        </div>
      <div class="col-md-4">
        <img src="/assets/img/Wolfgang_Reitschmied.PNG" class="img-fluid rounded" alt="...">
      </div>
    </div>
  </div>

  <hr>

<h2>Gründer und Ehrenpräsident post mortem:</h2>

  <div class="card text-bg-dark mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Robert Matyus</h5>
              <table class="table">
              <tbody>
                <tr>
                    <td>Gürtelgrad:</td>
                    <td>5. DAN</td>
                <tr>
                </tr>
                <td>Jahrgang:</td>
                <td>1956</td>
                <tr>
                </tr>
                    <td>Mitglied seit:</td>
                    <td>22.05.2008</td>
                </tr>
                <tr>
                    <td>Ausbildung:</td>
                    <td>Staatlich geprüfter Judo-Instructor</td>
                </tr>
            </tbody>
        </table>
            </div>
        </div>
      <div class="card-img col-md-4">
        <img src="/assets/img/Robert_Matyus.jpg" class="img-fluid rounded-start" alt="...">
      </div>
    </div>
  </div>
  