<div class="container mt-3">
    <h1>Videos:</h1>
</div>

<hr>

<div class="col kyu_vid" id="Kyu11_color">
    
    <a href="https://www.https://www.youtube.com/playlist?list=PLv3Jetf_pbowgMt6uKHFlZcwsNzKfytoo">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu11" class="rounded responsive" alt="Weißgurt (11. Kyu)" style="width: 350px; height: 200px;">
    </a>
    <label for="Kyu11">Weißgurt (4-7 Jahre)</label>
</div>

<div class="col kyu_vid" id="Kyu10_color">
    
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pbowSzavnHq--GR1nfArqv1tV">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu10"  class="rounded responsive" alt="10. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
    <label for="Kyu10">10. Kyu Weiss-Gleb (ab 6 Jahre)</label>
</div>

<div class="col kyu_vid" id="Kyu9_color">
    
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pboyec42dPEy1UIi4EhtyEeD2">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu9"  class="rounded responsive" alt="9. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
    <label for="Kyu9">9. Kyu Gleb</label>
</div>

<div class="col kyu_vid" id="Kyu8_color">
    
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pbow-s54QObmtXml28--GQY3c">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu8"  class="rounded responsive" alt="8. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
    <label for="Kyu8">8. Kyu Gleb-Orange</p></label>
</div>

<div class="col-7 kyu_vid" id="Kyu7_color">
    <label for="Kyu7"><p>7. Kyu Orange</p></label>
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pbows60kn0FArjHQSN2hDhhus">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu7"  class="rounded responsive" alt="7. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
</div>

<div class="col-7 kyu_vid" id="Kyu6_color">
    <label for="Kyu6"><p>6. Kyu Orange-Grün</p></label>
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pbowPjOyzKATbyHVYFgPawMjD">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu6"  class="rounded responsive" alt="6. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
</div>

<div class="col-7 kyu_vid" id="Kyu5_color">
    <label for="Kyu5"><p>5. Kyu Grün</p></label>
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pbow2vMdyF6vm4Exbz-UWW7ob">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu5"  class="rounded responsive" alt="5. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
</div>

<div class="col-7 kyu_vid" id="Kyu4_color">
    <label for="Kyu4"><p>4. Kyu Grün-Blau</p></label>
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pboy1Dz5RcLI-R5yo3iAA6bbx">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu4"  class="rounded responsive" alt="4. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
</div>

<div class="col-7 kyu_vid" id="Kyu3_color">
    <label id="label2" for="Kyu3">3. Kyu Blau   </label>
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pboy3_6tuJEpeN-a2I_0s2AQb">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu3"  class="rounded responsive" alt="3. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
</div>

<div class="col-7 kyu_vid" id="Kyu2_color">
    <label id="label2" for="Kyu2">2. Kyu Blau-Braun</label>
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pboyoSv_dAM55V4_XCGjmIVOp">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu2"  class="rounded responsive" alt="2. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
</div>

<div class="col-7 kyu_vid" id="Kyu1_color">
    <label id="label2" for="Kyu1">1. Kyu Braun</label>
    <a href="https://www.youtube.com/playlist?list=PLv3Jetf_pboyn6OdV6w1tSlHo8fkwdxRn">
        <img src="/assets/img/JudoAustriaVideo.png" id="Kyu1"  class="rounded responsive" alt="1. Kyu Weiss-Gleb (ab 6 Jahre)" style="width: 350px; height: 200px;">
    </a>
</div>


<hr>

<div>
    <a href="https://www.youtube.com/@JudoHDde/videos">
        <img src="/assets/img/JudoHD.png"  class="rounded" alt="JudoHD.de" class="responsive" style="width: 360px; height: 130px;">
    </a>
</div>
