<div class="justify-content-center">
    <h2>Was Ist Judo?</h2>
</div>

<hr>

<div>
    <div>
        <h3>Judo stärkt Körper und Geist.</h3>
    </div>
    <div>
        <p>
            Wichtig im Judo sind Köperbeherrschung, Koordination und Disziplin -
            die Kinder lernen beim Training Kraft und Technik gezielt einzusetzen. 
            Mit jeder neu erlernten Judotechnik steigt das Selbstbewusstsein.
        </p>
    </div>
</div>
<div>
    <div>
        <h3>Judo als Selbstverteidigung.</h3>
    </div>
    <div>
        <p>        
            Das Wissen, sich im Ernstfall verteidiggen zu können,
            führt zu einem sebstsicheren Auftreten.
        </p>
    </div>
</div>
<div>
    <div>
        <h3>Judo ist der "sanfte Weg".</h3>
    </div>
    <div>
        <p>
            Im Judo gibt es im Vergleich zu anderen Kampfsproftarten keine Schläge
            und Tritte. Man lernt die Kräfte des Gegners für sich zu nutzen und gezielt
            in die eigene Technik zu übertragen.
        </p>
    </div>
</div>
<div>
    <div>
        <h3>Judo bringt Erfolg und Erfolg ist kein Zufall.</h3>
    </div>
    <div>
        <p>
            Jedes Kind erhält bei Turnieren und Gürtelprüfungen eine faire Chance zum Sieg - 
            jeder Erfolg ist ein persönlicher Erfolg. Jede Niederlage bringt uns neue Erkenntnisse
            woran wir arbeiten müssen um unsere Ziele zu erreichen.
        </p>
    </div>
</div>
<div>
    <div>
        <h3>Judo ist Gemeinschaft.</h3>
    </div>
    <div>
        <p>
            Judoka leben neue Kulturen, haben Spaß und lernen viele andere Judoka kennen - 
            die gemeinsame Sportart verbindet über Grenzen hinweg!
        </p>
    </div>
</div>