    <div class="row text-center" id="banner">
        <div class="col-1"></div>
        <div class="col-3">
            <div class="sakura_blossom_image float-start">
                <img src="assets/img/sakura_schriftzeichen-removebg-preview.png" class="img-fluid" alt="..." >
            </div>
        </div>

        <div class="col-4">
            <img src="../assets/img/sakura-yanagi-judo_logo.jpg" class="logo mx-auto d-block img-fluid"> 
        </div>

        <div class="col-3">
            <div class="yanagi_blossom_image float-end">
                <img src="assets/img/yanagi_schriftzeichen-removebg-preview.png" class="img-fluid" alt="..." >
            </div>
        </div>
        <div class="col-1"></div>
    </div>