<container>
    <div class="row">
        <div class="col-3">
            <container class="content-left">
                <div class="tr_zeit alert alert-primary" role="alert">
                    <div class="row">
                        <div class="hd col">Trainingszeiten:</div>
                        <div class="col">jeden Freitag</div>
                    </div>
                    <div class="row">
                        <div class="col">Kinder Gruppe: </div>
                        <div class="col">17:00 bis 18:00 Uhr</div>
                    </div>
                    <div class="row">
                        <div class="col">Kinder/Jungend Gruppe: </div>
                        <div class="col">18:15 bis 19:15 Uhr</div>
                    </div>
                    <div class="row">
                        <div class="col">Erwachsene: </div>
                        <div class="col">19:30 bis 20:30 Uhr</div>
                    </div>
                    <div class="alert alert-warning" role="alert" id="ferien">
                        Außer schulfreie Tage!!  <a href="#" class="alert-link">Ferien</a> 
                    </div>
                </div>                 

                <hr>
               
                <div class="tr_ort alert alert-primary" role="alert">
                    <div class="hd">Trainingsort:</div>
                    <div>Fitnescenter Stefan Stuefer</div>
                    <div>Gerersdorf 10</div>
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2656.959817786854!2d16.02518287600166!3d48.24590094361428!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d758cc87ae7c5%3A0x4f63f232354359a8!2sGerersdorf%2010%2C%203443%20Gerersdorf!5e0!3m2!1sde!2sat!4v1695935843603!5m2!1sde!2sat" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </container>
        </div>

        <div class="col-6 alert alert-warning" id="content" role="alert">
            <!-- <img src="assets/img/Kontakt.PNG" class="img-fluid" alt="..." > -->
            <script>loadContent('neues')</script>
        </div>

        <div class="col-3">
            <container class="content-right">
                <div class="adresse alert alert-primary" role="alert">
                    <div class="row">
                        <div class="hd">Anschrift:</div>
                        <div>Union Judo Club Sakura Yanagi</div>
                        <div>Wolfgang Matyus</div>
                        <div>Calvigasse 4</div>
                        <div>A-1230 Wien</div>
                    </div>
                </div> 
                    <hr>
                <div class="contact alert alert-primary" role="alert">
                    <div class="row">
                        <div class="hd col-3">Tel.:</div><div class="col-9">0676 / 461 88 83</div>
                    </div>
                    <div class="row">
                        <div class="hd col-3">e-mail:</div><div class="col-9">office@sakura-yanagi-judo.at</idiv>
                    </div>
                </div>
            </container>
        </div>
    </div>
    
    
</container>
