<footer>
    <div class="row">
        <div class="col-6 col-t-1 col-m-1" id="footerLinkBlock1">
            <a onclick="loadContent('faq')">FAQ</a> |
            <a href="component/content/impressum.html">Impressum</a> |
            <a href="links.html">Links</a> 
        </div>
        <div class="col-0 seperator">
            |
        </div>
        <div class="col-6 col-t-1 col-m-1" id="footerLinkBlock2">
            <a href="Sponsoren.html">Sponsoren</a> |
            <a href="/assets/pdf/Erklaerung_DSGVO.pdf">DSGVO</a>
        </div>
        <div class="col-12">
            &copy; Wolfgang Matyus
        </div>
    </div>    
</footer>