<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav">
    <a class="active" href="#news">Neues</a>
    <a href="#events">Termine</a>
    <a href="#pictures">Bilder</a>
    <a href="#about">Über uns</a>
    <a href="#judo">Was ist Judo?</a>
    <a href="javascript:void(0);" class="icon" onclick="navbar()">
        <i class="fa fa-bars"></i>
      </a>
  </div> 